@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: 'Kalam';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: bisque;
  background-image: linear-gradient(
      to bottom,
      rgba(133, 133, 123, 0.704),
      rgba(105, 111, 113, 0.5)
    ),
    url(./images/phonebook.svg.png);

  background-size: 150px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

img{
  display: block;
  height: auto;
}

ul,ol {
  padding: 0;
  list-style: none;
}